body {
  margin: 0;
  text-align: center;
  background-image: url("http://img11.deviantart.net/b40f/i/2009/207/f/a/blood_spatter_by_zeds_stock.jpg");
}

@font-face {
  font-family: "You Murderer BB";
  src: url("youmurdererbb_reg.ttf");
}

.nav {
  position: fixed;
  background-color: red;
  top: -20px;
  padding: 20px;
  width: 100%;
}

.mainHeader {
  font-family: "You Murderer BB";
  font-size: 9em;
  background-color: lightgrey;
}

.nav li {
  display: inline-block;
  margin-right: 5%;

}

.nav ul {
  list-style: none;
}

.headerPic {
  width: 100%;
  top: 5px;
  position: relative;
  top: 5px;
  z-index: -1;
}

section {
  margin: 0 25%;
  text-align: justify;
  background-color: grey;
  padding: 5px;
}

section img {
  width: 100%;
}

section h1 {
  text-align: center;
}

.float {
  width: auto;
  max-height: 200px;
  float: left;
  margin-right: 5px;
}

footer {
  font-size: 1em;
  width: 100%;
  background-color: darkred;
  padding: 10px;
}